
<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel='icon' href='/img/wall1.jpg'>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
            <img src="/img/wall1.jpg" class="about-messi">
            <p> This website is created by Chennakesava using Weatherstack and mapbox api's </p>
        </div>

        
        {{>footer}}
    </body>
</html>