
<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel='icon' href='/img/wall1.jpg'>
        <link rel='stylesheet' href='/css/styles.css'>
    </head>
    <body>
        
        <div class="main-content">
            <h1>{{msg}}</h1>
            {{>header}}
        </div>
        
        {{>footer}}

      
    </body>
</html>