{{!-- <h1> Static header text from hbs</h1> <!--partials--> --}}

<header>
    <h1>{{title}}</h1>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/help"> Help</a>
    <a href="/weather"> Help</a>
</header>